.main-btn {
    padding: 12px 25px;
    background: #2c7a7b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 15px;
  }
  
  .main-btn:hover {
    background: #285e61;
  }
  